@charset "UTF-8";

body{
    
    background-image: linear-gradient(to right, rgb(76, 76, 240) , rgba(211, 59, 211, 0.575) , rgba(195, 224, 28, 0.712));
}
header{
    color: white;
    text-align: center;
    font-size: 1.7em;
    font-weight: 900;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.616);
    
}
div{
    font-size: 1.3em;
}

section  p{
    font-size: 1.5em;
    font-weight: 900;
}
input#botao{
    width: 100px;
    height: 30px;
}

footer{
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 1.5em;
}

footer > a{
    text-decoration: none; 
}
footer  p{
     font-size: 1.1em;   
     font-weight: 900;
      
   
}
footer > a:hover{ 
    color: rgb(255, 255, 255);
    transition: color .8s, border .3s; 
    
}
